.track-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.quick-box{
    border-radius: 30px;
    background-color: rgba(250, 250, 250, 0.5);
    height: 300px;
    width: 300px;
    padding: 30px;
    margin: 10px 0;   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.quick-box>button{
    border-radius: 30px;
    width: 160px;
    height: auto;
    font-size: 25px;
    background-color: var(--primary-green);
    color: white;
}

.graph-activities-box{
    border-radius: 30px;
    background-color: rgba(250, 250, 250, 0.5);
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 10px 0;
}

.graph-BMI-box{
    border-radius: 30px;
    background-color: rgba(250, 250, 250, 0.5);
    height: 300px;
    width: 400px;
    padding: 10px;
    margin: 10px 0;
}